html { 
  background: url(/static/chicago.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*search bar*/ 
#search {
   position: relative;
   margin-left: 400px;
   width: 200px;
   height: 20px;
   top: 7px;
   right: 225px;
}

#about{
    margin: 100px;
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    background: rgba(194, 194, 214, .75);
}

#wholebox{
    margin: 100px;
    padding: 30px;
    font-weight: bold;
    font-size: 25px;
    background: rgba(194, 194, 214, .75);
}
/*login button*/
#login {
    position: absolute;
    top: 0px;
    right: 40px;
    width: 115px;
    bottom: 100px;
    height: 40px;
    border: 3px solid #ff6666; /* salmon */
    font-size: 18px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
    color: purple;
    background-color: #c2c2d6;
    border-radius: 10px 10px 10px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

} /*light grey*/

#login:hover {
    background-color: grey;
    color: white;
}

#loggedin {
    position: absolute;
    top: 0px;
    right: 40px;
    width: 250px;
    bottom: 100px;
    height: 50px;
    border: 3px solid #ff6666; /* salmon */
    font-size: 15px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
    color: purple;
    background-color: #c2c2d6;
    border-radius: 10px 10px 10px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


/*create an event button*/
.event {
    padding: 10px 10px;
    border: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #c2c2d6; /*light grey*/
    color: purple;
    border: 2px solid #ff6666; /* salmon */;
    border-radius: 9px 9px 9px 9px;
}
.event:hover {
    background-color: grey;
    color: white;
}

.register{
    padding: 5px 5px;
    border: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #c2c2d6; /*light grey*/
    color: purple;
    border: 2px solid #ff6666; /* salmon */;
    text-align: center;
    border-radius: 8px 8px 8px 8px;
}

.register: hover{
    background-color: grey;
    color: white;
}



h2
/*create event title*/
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
    text-decoration: underline;
    color: purple;
}
.feed-sheet {
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}
.event-container {
    position: relative;
    max-width: 300px;
    min-height: 500px;
    display: inline-block;
    border: 6px solid white;
    margin: 10px;
    background-color: #cce6ff;
    border-radius: 10px 10px 10px 10px;
    vertical-align: top;
}
/*text*/
div p {
    display: block;
    /*padding-left: 10px;*/
    border-radius: 10px 10px 10px 10px;
    overflow: scroll;
    height: 50px;
    margin: 0;
}
.eventinfo {
    max-height: 50px;
    max-width: 300px;
    padding-left: 10px;
}
.date {
    padding-left: 10px;
    height: 25px;
    margin-top: 10px;
}
.img-container {
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #cce6ff;
}
.register {
    position: absolute;
    bottom: 0;
}
/*image*/
div img {
    /*position: absolute;*/
    max-width: 275px;
    max-height: 300px;
    margin-top: auto;
    margin-bottom: auto;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;

}

div{
    /*border: 2px solid black;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
    color: purple;
}

/*Sections formatting defined*/

#title {
        font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
        color: purple;
        margin: 15px;
        text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
        font-size: 40px;
        margin: 4px 2px;
    }
.title {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: red;
    font-size: 20px;
    text-align: center;
}

/*ivolunteer tab*/
ul {
        position: fixed;
        top: 0;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #cce6ff;
        border-bottom: 7px solid  #ff6666;
}

.tab {
    font-family: "Lucida Sans Unicode", "Lucida Grande", AppleGothic, sans-serif;
    color: purple;
}

li {
    float: left;
}

li a {
        background-color: #cce6ff;
        font-size: 24px;
        display: block;
        text-align: center;
        padding: 16px;
        border-left: 1px solid black;
        border-right: 1px solid black;
}

/* unvisited link */
li a:link {
        color: grey;
}

/* Change the link color on hover */
li a:hover {
        color: lightblue;
}

#descriptionBox {
        height: 100px;
        width: 400px;
}

.effect {
        /* offset-x | offset-y | color */
    box-shadow: 60px -16px teal;

    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 10px 5px 5px black;

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    /* inset | offset-x | offset-y | color */
    box-shadow: inset 5em 1em gold;

    /* Any number of shadows, separated by commas */
    box-shadow: 3px 3px red, -1em 0 0.4em olive;
}