<!Doctype html>
<html>

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src = "/static/jshome.js"></script>
<link rel = "stylesheet" href = "/static/csshome.css">

    <body>
        <!-- Links to Navigation Bar -->
        {% include 'navBar.html' %}
        <br>
        <br>
        <br>
        <br>
    
    <!--This will be the newsfeed-->
        {% if matched_Events|length == 0 %}
            <div id="about">No Results</div>
        {% endif %}
        
        {% for chunk in matched_Events %}

        <div class="feed-sheet">
        Here are the events on your given date:
        {% for event in chunk %}
        <div class="event-container">
                <div class="img-container">
                    <img src="/img?eventId={{ event.key.id() }}"> 
                </div>
                <p class="title"> {{ event.eventname }}</p>
                <!-- <p class="line-above special-center">Event Name</p> -->

                <p class="line-above">Description:</p>
                <p class="eventinfo">{{ event.eventinfo }}</p>

                <p class="date"> <em>Date:</em> {{event.eventdate }}</p>
                <p class = "location"> <em>Location:</em> {{ event.location }} 
                <p class = "time"> <em>Time:</em> {{event.startTime}} <em>-</em>  {{event.endTime}} </p>
                <p class = "creator"> <em>Posted by:</em> {{ event.creator }}</p>
        </div>
        {% endfor %}
        </div>
        {% endfor %}


</body>


</html>