<!Doctype html>
<html>

<!-- Links to Navigation Bar -->
        {% include 'navBar.html' %}
        <br>
        <br>

<!-- CSS Style -->
	<link href = "/static/csshome.css" rel = "stylesheet">

<h2>Create a new event!</h2>
	<form method="post" enctype="multipart/form-data" id = "createform">
	<div class = "contactsection">
	Please enter the the name of your event: <input type = "text" class = "input" name = "eventName"/>
	<br>
	Please enter the date of your event: <input type = "text" class = "input" name = "eventdate"/>
	<br>
	Please describe your event: <input type = "text" class = "input" name = "eventinfo" id = "descriptionBox"/>
	<br>
	Please enter the zip code of your event: <input type = "int" class = "input" name = "GeoPtProperty"/>
	<br>
	Please enter the age requirements for your event: <input type = "number" class = "input" name = "agereq"/>
	<br>
	Please create any tags you would like for your event: <input type = "text" class = "input" name = "tags"/>
	Please upload a picture for your event: <input type="file" name="profile"/>
	<br>
	<input type = "submit" value = "Submit">
	</div>
	</form>

</html>