<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to iVolunteer!</title>
        <link rel = "stylesheet" href = "/static/css/csshome.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script><!-- this is how you link jquery... google hosted libraries jquery has this -->
        <script src = "/static/jshome.js"></script>
    </head>

    <body>
        <!-- Links to Navigation Bar -->
        {% include 'navBar.html' %}
        <br>
        <br>
        <br>
        <br>
        


        <!--Create New Event-->
<button class = "event event1" type="submit">Click here to create a new Event</button>


        <!--This will be the newsfeed-->
        {% for event in event_results %}
        <div>
    			<div>
    				<img src="/img?eventId={{ event.key.id() }}"> 
    			</div>
    			<p class="title"> {{ event.eventname }}</p>
    			<p class="eventinfo"> {{ event.eventinfo }}</p>  
    			<p class="date"> {{event.eventdate }}	</p>		
        </div>
        {% endfor %}

        
    </body>
</html>


