<!Doctype html>

<head>
        <title>My Created Events</title>
        <link rel = "stylesheet" href = "/static/csshome.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script><!-- this is how you link jquery... google hosted libraries jquery has this -->
        <script src = "/static/jshome.js"></script>
</head>

<body>
        <!-- Links to Navigation Bar -->
        {% include 'navBar.html' %}
        <br>
        <br>
        <br>
        <br>

<html>

<body>
<h1>
Here are the events that you created:
</h1>

	<div id="about">
	{% for eventName in event_dict %}
	<p><em>The name of the event is: </em>{{ eventName }}</p>
    <br>
        <p>Users Attending:</p>
		{% for person in event_dict[eventName] %}
			<p> {{ person }}</p>
		{% endfor %}
        <br>
        <br>
	{% endfor %}
	</div>
</body>


</html>