<!Doctype html>
<html>

	<head>
        <title>My Events</title>
        <link rel = "stylesheet" href = "/static/csshome.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script><!-- this is how you link jquery... google hosted libraries jquery has this -->
        <script src = "/static/jshome.js"></script>
    </head>

    <!-- Links to Navigation Bar -->
        {% include 'navBar.html' %}
        <br>
        <br>
        <br>
        <br>

<div class = "page-wrap">
    <!--This will be the newsfeed-->
        {% for chunk in my_events %}

        <div class="feed-sheet">
        {% for event in chunk %}
        <div class="event-container">
                <div class="img-container">
                    <img src="/img?eventId={{ event.key.id() }}"> 
                </div>
                <p class="title"> Event name:  {{ event.eventname }}</p>
                <p class="eventinfo"> Description: {{ event.eventinfo }}</p>  
                <p class="date"> Date: {{event.eventdate }} </p>
                <p class = "location"> Locaiton: {{ event.location }} </p>
                <p class = "creator"> Posted by: {{ event.creator }} </p>
        </div>
        {% endfor %}
        </div>
        {% endfor %}
</div>
    <!-- Links to footer -->
        <!-- {% include 'recfooter.html' %} -->

</html>



