<!Doctype html>
<html>

	<head>
        <title>My Events</title>
        <link rel = "stylesheet" href = "/static/csshome.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script><!-- this is how you link jquery... google hosted libraries jquery has this -->
        <script src = "/static/jshome.js"></script>
    </head>

    <!-- Links to Navigation Bar -->
        {% include 'navBar.html' %}
        <br>
        <br>
        <br>
        <br>


</html>



